:root {
  --font-family-main: "Roboto", sans-serif;
  --font-family-logo: "Raleway", sans-serif;
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --logo-main-color: #2196f3;
  --logo-secondary-color: #000000;
  --body-main-color: #ffffff;
  --body-secondary-color: #2f303a;
  --body-third-color: #f5f4fa;
  --hover-btn-color: #188ce8;
  --icon-color: #afb1b8;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 0;
}

body {
  font-family: var(--font-family-main);
  background-color: var(--body-main-color);
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Хедер */

.header {
  background-color: var(--body-main-color);
  border-bottom: 1px solid #ececec;
}

a.current {
  color: var(--logo-main-color);
}

.link:hover,
.link:focus {
  color: var(--logo-main-color);
}

.header-logo {
  color: var(--logo-secondary-color);
  font-family: var(--font-family-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-icon {
  color: var(--logo-main-color);
}

.head-wrapper {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-list {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.header-link {
  position: relative;
  font-family: var(--font-family-main);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding: 32px 0px;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  opacity: 0;
  width: 100%;
  height: 4px;
  background-color: var(--logo-main-color);
  border-radius: 2px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.current::after {
  opacity: 1;
}

.contact-link {
  font-family: var(--font-family-main);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  align-items: center;
  display: flex;
  gap: 10px;
}

.contact-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 30px;
}

.contact-icon {
  fill: currentColor;
}

/* Герой */

.hero {
  color: var(--body-main-color);
  /* background-color: var(--body-secondary-color); */
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-img-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: transparent;

  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--logo-main-color);
  color: var(--body-main-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-btn-color);
}

/* Блок особливості*/

.specific-list {
  display: flex;
}

.specifics {
  padding-top: 94px;
  padding-bottom: 94px;
}

.specifics-title {
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
}

.specifics-desc {
  line-height: 1.71;
}

.spicifics-item {
  width: 270px;
}

.spicifics-item:not(:last-child) {
  margin-right: 30px;
}

.specifics-icon {
  min-width: 270px;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--body-third-color);
  border-radius: 4px;
}

/* Блок чим ми займаємось */

.we-doing-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.we-doing-item:not(:last-child) {
  margin-right: 30px;
}

.we-doing-list {
  display: flex;
}

.we-doing.section {
  padding-top: 0;
}

.we-doing-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--body-main-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.we-doing-item {
  position: relative;
}

/* Наша команда */

.team {
  background-color: var(--body-third-color);
  margin: 0 auto;
  max-width: 1600px;
}

.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.team-job {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-text-color);
}

.team-list {
  display: flex;
}

.team-list-member {
  background-color: var(--body-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-member:not(:last-child) {
  margin-right: 30px;
}

.team-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}

.team-social-item {
  width: 44px;
  height: 44px;
  overflow: hidden;
  border-radius: 50%;
}

.team-social-link:hover,
.team-social-link:focus {
  color: var(--body-main-color);
  background-color: var(--logo-main-color);
}

.team-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Клієнти */
.clients-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--logo-main-color);
  color: var(--logo-main-color);
}

/* Футер */

.footer {
  background-color: var(--body-secondary-color);
  padding: 60px 0;
}

.footer-info {
  min-width: 231px;
  margin-right: 70px;
}

.footer-logo {
  font-family: var(--font-family-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  color: var(--body-main-color);
  margin-bottom: 20px;
  display: block;
}

.footer-list {
  font-style: normal;
  line-height: 1.71;
}

.footer-adress {
  color: var(--body-main-color);
}

.footer-contact {
  color: #ffffff99;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-wraper {
  display: flex;
  align-items: baseline;
  /* gap: 70px; */
}

.footer-social {
  display: block;
  justify-content: center;
  align-items: center;
  margin-right: 93px;
}

.footer-paragraf {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--body-main-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  gap: 10px;
}

.footer-social-item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  overflow: hidden;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--logo-main-color);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--body-main-color);
}

.footer-mailing {
  display: block;
}

.footer-form-paragraf {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--body-main-color);
  margin-bottom: 20px;
}

.footer-form-input {
  min-width: 358px;
  min-height: 50px;
  /* display: inline-flex; */
  padding: 15px 16px;
  /* margin-right: 12px; */
  background-color: var(--body-secondary-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--body-main-color);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:focus,
.footer-form-input:hover {
  border-color: var(--logo-main-color);
}

.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: right;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--body-main-color);
  background-color: var(--logo-main-color);
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form-icon {
  width: 24px;
  height: 24px;
  fill: var(--body-main-color);
  margin-left: 10px;
}

.footer-form {
  display: flex;
  gap: 12px;
}

/* Портфоліо */

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--body-third-color);
  border-radius: 4px;
  padding: 6px 22px;
  border: transparent;
  min-width: 73px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--logo-main-color);
  color: var(--body-main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list-item {
  background-color: var(--body-main-color);
}

.portfolio-link {
  display: block;
  /* position: relative;
  overflow: hidden; */
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.portfolio-desc {
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-text-color);
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
}

.btn-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}

.portfolio-wrapper {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 150, 243, 0.9);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--body-main-color);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-text {
  transform: translateY(0);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--body-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--body-main-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: var(--logo-main-color);
  border-color: var(--logo-main-color);
}

.close-btn-icon {
  fill: currentColor;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 12px;
}

.modal-label {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-label:nth-child(5) {
  margin-bottom: 0;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  cursor: pointer;
  padding: 12px 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within + .modal-icon,
.modal-input:hover + .modal-icon {
  fill: var(--logo-main-color);
}

.modal-input:focus-within,
.modal-input:hover,
.modal-textarea:focus-within,
.modal-textarea:hover {
  border-color: var(--logo-main-color);
}

.modal-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  display: inline-block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-textarea:focus-within,
.modal-textarea:hover {
  border-color: var(--logo-main-color);

} */
.modal-checkbox {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  /* padding-left: 12px; */
}

.modal-checkbox-contract {
  color: var(--logo-main-color);
  text-decoration: underline;
}

.checkboxx {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  font-size: 14px;
  line-height: 1.71;
}

.checkboxx:checked + .modal-checkbox-icon {
  /* background-color: var(--logo-main-color); */
  border: none;
  fill: var(--logo-main-color);
}

.modal-checkbox-icon {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--logo-secondary-color);
  border-radius: 2px;
  fill: var(--body-main-color);
  /* transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.modal-button {
  align-self: center;
  width: 200px;
  height: 50px;
  background: var(--hover-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--body-main-color);
  overflow: hidden;
  border-color: transparent;
  /* margin-top: 30px; */
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
